@tailwind base;

@layer base {
  * {
    @apply
      text-[13px]
      xl:text-[14px]
      2xl:text-[18px]
      transition-colors
      duration-200
      font-inter
      ring-primary-500
      ring-offset-2
      focus-visible:outline-none
      focus-visible:ring-2;
  }
  body {
    @apply
      bg-white-500
      dark:bg-gray-700
      overflow-x-hidden;
  }
  h1, h1 > span {
    @apply 
      font-semibold
      text-[1.6rem]
      leading-[1.6rem]
      sm:text-3xl
      sm:leading-[1.875rem]
      md:text-5xl
      md:leading-[3rem]
      text-gray-600 
      dark:text-white-500;
  }
  h2, h2 > span {
    @apply 
      font-semibold 
      text-[1.4rem]
      leading-[1.4rem]
      md:text-4xl
      md:leading-9
      text-gray-600 
      dark:text-white-500;
  }
  h3, h3 > span {
    @apply
      font-semibold
      text-[1.25rem]
      leading-[1.25rem]
      md:text-2xl
      md:leading-7
      text-gray-600 
      dark:text-white-500;
  }
  pre {
    @apply
      flex;
  }
  code {
    @apply
      overflow-x-auto
      overflow-y-hidden
  }
  p, pre, p > span, pre > span, li, li > span {
    @apply 
      font-normal 
      text-[1.2rem]
      md:text-xl
      text-gray-600 
      dark:text-white-500;
  }
  pre > span {
    @apply 
      text-inherit;
  }
  button, button > span {
    @apply 
      font-normal 
      text-xl
      whitespace-nowrap
      text-gray-700 
      dark:text-white-500
      bg-white-600
      dark:bg-gray-500
      hover:text-gray-700 
      dark:hover:text-gray-700 
      hover:bg-primary-500
      dark:hover:bg-primary-500
      active:text-white-500
      active:bg-primary-600
      dark:active:text-white-500
      dark:active:bg-primary-600
      rounded-[15px]
      align-middle
      select-none;
  }
  span {
    @apply !text-primary-500;
  }
  a {
    @apply 
      underline-offset-2
      !text-primary-500
      hover:underline;
  }
  time {
    @apply 
      text-base  
      md:text-xl
      font-light 
      italic;
  }
}

@tailwind components;

@layer components {
  .nav-links > li {
    button {
      @apply rounded-none;
    }

    &:first-child {
      button {
        @apply rounded-bl-[15px];
      }
    }

    &:last-child {
      button {
        @apply rounded-br-[15px];
      }
    }
  }

  .markdown-section-container {
    @apply
      px-12  
      md:px-16;

    h1, h2, p, a {
      @apply 
        px-0;
    }
  }

  .with-description > p:first-of-type {
    @apply
      text-[1.2rem]
      mt-2
      md:text-2xl
      md:mt-0;
  }

  .ignore-first-break {
    @apply
      hidden;
    
    & + & {
      @apply
        block;
    }
  }

  .markdown-navigation {
    .disabled {
      @apply
        hidden;
    }

    button:not(:hover):not(:active) {
      @apply
        bg-white-700
        dark:bg-gray-500;
    }
  }

  .force-white-text, .force-white-text > * {
    @apply
      text-white-600;
  }

  .tooltip-container {
    p:first-of-type {
      @apply
        opacity-0
        invisible
        transition-opacity
        duration-500
        pointer-events-none;
    }

    @apply
      pointer-events-auto;

    &:hover {
      p:first-of-type {
        @apply          
          opacity-100
          visible;
      }
    }
  }
  
  .list-container {
    h2, h2 > span {
      @apply
        text-left
        text-[1.4rem]
        md:text-3xl
        mb-4;
    }
  }
};

@tailwind utilities;