@tailwind components;

@layer components {
  .timeline {
    @apply
      !pt-12  
      md:!pt-20;
    
    & > * {
      @apply
        !font-inter;
    };

    &::before {
      @apply
        !left-0
        sm:!left-[18px]
        2lg:!left-1/2
        !bg-primary-600;
    }

    .vertical-timeline-element {
      @apply
        !mt-2
        !mb-12
        last-of-type:!mb-2
    }

    .vertical-timeline-element-date {
      @apply
        dark:!bg-gray-400
        !bg-white-600
        rounded-lg
        !px-2
        !py-[.1rem]
        !top-[-1rem]
        2lg:!p-0
        !font-semibold
        !text-base
        !text-gray-700
        dark:!text-white-700
        absolute
        !opacity-100
        capitalize
        2lg:!bg-transparent
        2lg:dark:!bg-transparent
        2lg:!top-[.8rem]
        2lg:relative
        2lg:!text-xl;
    }

    .vertical-timeline-element-content-arrow {
      @apply
        !border-r-primary-500
        dark:!border-r-primary-600
        !border-[10px]
        !top-[9px]
        2lg:!top-[17px];
    }

    .vertical-timeline-element-content {
      @apply
        !bg-white-400
        dark:!bg-gray-500
        !mr-[15px]
        !ml-[45px]
        sm:!ml-[65px]
        sm:!mr-[25px]
        2lg:!ml-0
        2lg:!mr-0
        !rounded-lg
        !shadow-none
        !border-b-4
        !border-b-primary-500
        2lg:pt-4
        dark:!border-b-primary-600;
      
      h2 {
        @apply
          !text-2xl
          text-primary-500
          dark:text-primary-600;
      }

      h3 {
        @apply
          !text-lg
          !mt-[2px]
          !text-gray-default
          2lg:!mt-[3px];
      }

      
      .download-button-label {
        @apply
          !text-[1.2rem]
          !text-gray-default
          cursor-pointer;
      }

      p {
        @apply
          !mt-[3px]
          2lg:!mt-[4px]
          !text-[1.1rem];
      }
    }
  }

  .vertical-timeline-element-icon {
    @apply
    !bg-white-400
      dark:!bg-gray-500
      !left-[-16px]
      sm:!left-[2px]
      2lg:!left-[calc(50%+6px)]
      flex
      flex-row
      justify-center
      items-center
      !w-[36px]
      !h-[36px]
      2lg:!w-[48px]
      2lg:!h-[48px]
      !shadow-[0_0_0_4px_rgba(0,0,0,0.04),inset_0_2px_0_rgba(0,0,0,.08),0_3px_0_4px_rgba(0,0,0,.05)]
      dark:!shadow-[0_0_0_4px_rgba(255,255,255,0.04),inset_0_2px_0_rgba(0,0,0,.08),0_3px_0_4px_rgba(0,0,0,.05)];
      
  
    svg {
      @apply
        !w-[24px]
        !h-[24px]
        2lg:!w-[32px]
        2lg:!h-[32px]
        !top-0
        !left-0
        !m-0;
    }
  }

  .small-icon {
    svg {
      @apply
        !w-[20px]
        !h-[20px]
        2lg:!w-[28px]
        2lg:!h-[28px]
        !top-0
        !left-0
        !m-0;
    }
  }

  .timeline-code-en-us {
    @apply
      duration-300
      transition-transform
      translate-x-[7.3rem]
      delay-[1500ms]
      md:delay-1000
      hover:translate-x-0
      focus-visible:translate-x-0
      active:duration-[5ms]
      active:translate-x-0
      active:!delay-[0s]
      focus-visible:!delay-[0s]
      hover:!delay-[0s];

    p {
      @apply
        transition-colors
        duration-75
        pb-[3px]
        md:pb-[5px]
        text-inherit;
    }

    svg {
      @apply
        transition-colors
        duration-75;
    }
  }
  
  .timeline-code-pt-br {
    @apply
      duration-300
      transition-transform
      translate-x-[10.6rem]
      !w-[13.5rem]
      delay-[1500ms]
      md:delay-1000
      hover:translate-x-0
      focus-visible:translate-x-0
      active:duration-[5ms]
      active:translate-x-0
      active:!delay-[0s]
      focus-visible:!delay-[0s]
      hover:!delay-[0s];

    p {
      @apply
        transition-colors
        duration-75
        pb-[3px]
        md:pb-[5px]
        text-inherit;
    }

    svg {
      @apply
        transition-colors
        duration-75;
    }
  }
}